* {
    font-family: Helvetica;
}
.nav{
    text-align: center;
    padding-top: 20px;
}
.nav a{
    text-transform: none;
    text-decoration: none;
    font-size: 30px;
    color: blue;
    font-weight: bold;
    opacity: 0.65;
    padding-left: 10px;
    padding-right: 10px;
}
.banner {
    background: url(../images/pattern.jpeg);
    height: 600px;
    padding-top: 60px;
    padding-bottom: 100px;
}

.store_name{
    background-color: white;
    opacity: 0.75;
    height: 550px;
    width: 550px;
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
/*    padding-bottom: 40px;*/
    
}

.store_name img {
    display: block;
    margin: 0 auto;
    height: 20%;
    width: 20%;
}

.store_name h1 {
    font-size: 80px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    opacity: 1.00;
}

.products{
    height: 300px;
    opacity: 0.65;
}

.products p {
    text-align: justify;
    padding-right: 20px;
}

.products img {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

h3, p {
    color: lightyellow;
}

h2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

#brushes{
    background-color:mediumspringgreen;
}

#paint{
    background-color: skyblue;
}

#frames{
    background-color: lightcoral;
}

#prices {
    color: blue;
    font-weight: bold;
}
